<p-confirmDialog #cd [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text">
  <ng-template pTemplate="header">
    <h3 *ngIf="taskAction == 0">Удаление {{(isActive ? "текущего" : "выполненного")}} задания №{{taskId}}</h3>
    <h3 *ngIf="taskAction == 1">Вернуть задание №{{taskId}} в текущие?</h3>
  </ng-template>
  <ng-template pTemplate="footer">
    <button *ngIf="taskAction == 0" class="p-button-danger" type="button" pButton icon="pi pi-check" label="Да" (click)="cd.accept()"></button>
    <button *ngIf="taskAction == 1" class="p-button-warning" type="button" pButton icon="pi pi-check" label="Да" (click)="cd.accept()"></button>
    <button class="p-button" type="button" pButton icon="pi pi-times" label="Нет" (click)="cd.reject()"></button>
  </ng-template>
</p-confirmDialog>

<div *ngIf="isShowable" [ngClass]="{full_tr : (!thisTask.t_isComplete && !isExpired),
                 full_tr_complete : thisTask.t_isComplete,
                 full_tr_expired : isExpired}">
  <div class="tr">
    <div class="t1">{{thisTask.t_id}}</div>
    <div class="t2">{{thisTask.t_startDate | MyDateNS}}</div>
    <div class="t3" *ngIf="!thisTask.t_isComplete">{{thisTask.t_name}}</div>
    <div class="t3" *ngIf="thisTask.t_isComplete" style="text-decoration: line-through">{{thisTask.t_name}}</div>
    <div class="t4" *ngIf="!thisTask.t_isComplete">{{thisTask.t_endDate | MyDateNS}}</div>
    <div class="t4" *ngIf="thisTask.t_isComplete">{{thisTask.t_completeDate | MyDateNS}}</div>
    <div class="t5">
      <button *ngIf="!isFirst" (click)="dragUp(thisTask)" pButton pRipple type="button" class="p-button-rounded p-button-sm p-button-raised">
        <i class="pi pi-angle-up"></i>
      </button>
      <button *ngIf="!isLast" (click)="dragDown(thisTask)" pButton pRipple type="button" class="p-button-rounded p-button-sm p-button-raised">
        <i class="pi pi-angle-down"></i>
      </button>
      <button *ngIf="!thisTask.t_isComplete" (click)="openWindow(true, 'comp', taskId)" pButton pRipple type="button" class="p-button-success p-button-rounded p-button-sm p-button-raised">
        <i class="pi pi-check-circle"></i>
      </button>
      <button *ngIf="thisTask.t_isComplete" (click)="confirmReturn()" pButton pRipple type="button" class="p-button-warning p-button-rounded p-button-sm p-button-raised">
        <i class="pi pi-undo"></i>
      </button>
      <button *ngIf="!thisTask.t_isComplete"  pButton pRipple type="button" (click)="openWindow(true, 'edit', taskId)"  class="p-button-help p-button-rounded p-button-sm p-button-raised">
        <i class="pi pi-file-edit"></i>
      </button>
      <button *ngIf="thisTask.t_isComplete"  pButton pRipple type="button" (click)="openWindow(true, 'editC', taskId)"  class="p-button-help p-button-rounded p-button-sm p-button-raised">
        <i class="pi pi-file-edit"></i>
      </button>
      <button (click)="confirmDelete()" pButton pRipple type="button" class="p-button-danger p-button-rounded p-button-sm p-button-raised">
        <i class="pi pi-times-circle"></i>
      </button>
    </div>
  </div>
  <div pRipple class="progressBar" *ngIf="!thisTask.t_isComplete" [ngStyle] = "{'background-color' : thisColor,
   'width' : thisWidth}"><div class="pHold">{{this.thisWidth}}</div>
  </div>
</div>

