.full_tr {
  box-shadow: 0px 3px 10px -4px #000000;
  background: #f4f4f4;
}

.full_tr_complete {
  box-shadow: 0px 3px 10px -4px #000000;
  background: #d9ffe2;
}

.full_tr_expired {
  box-shadow: 0px 3px 10px -4px #000000;
  background: #ffcdc9;
}

.tr {
  display: flex;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
  border-collapse: collapse;
  border-bottom: 2px solid #b4b4b4;
}

.t1 {
  width: 4%;
  min-height: 30px;
  padding-top: 7px;
  padding-bottom: 5px;
  display: block;
  text-align: center;
  border-right: 3px solid #b4b4b4;
  box-sizing: border-box;
}


.t2 {
  width: 18%;
  min-height: 30px;
  padding-top: 7px;
  padding-bottom: 5px;
  display: block;
  text-align: center;
  border-right: 3px solid #b4b4b4;
  box-sizing: border-box;
}


.t3 {
  width: 45%;
  min-height: 30px;
  padding-top: 7px;
  padding-bottom: 5px;
  display: block;
  text-align: center;
  border-right: 3px solid #b4b4b4;
  box-sizing: border-box;
}


.t4 {
  width: 18%;
  min-height: 30px;
  padding-top: 7px;
  padding-bottom: 5px;
  display: block;
  text-align: center;
  border-right: 3px solid #b4b4b4;
  box-sizing: border-box;
}


.t5 {
  width: 15%;
  min-height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  padding: 7px 1.5% 5px;
  flex-wrap: wrap;
}


.progressBar {
  height: 13px;
  width: 50%;
  float: left;
  display: flex;
  flex-direction: row;
  justify-content: center;


  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  -webkit-transition: 0.4s linear;
  -moz-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
  -webkit-transition-property: width, background-color;
  -moz-transition-property: width, background-color;
  -o-transition-property: width, background-color;
  transition-property: width, background-color;
  -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.25), inset 0 2px rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.25), inset 0 2px rgba(255, 255, 255, 0.1);
  z-index: 1;
}


.pHold {
  background: rgba(255, 255, 255, .6);
  user-select: none;
  padding: 0px 3px;
  border-radius: 5px;
  text-align: center;

  font-size: 12px;
  font-weight: 700;
  display: block;
  letter-spacing: 0.5px;
  z-index: 2;
}


.p-button.p-button-sm {
  font-size: 0.675rem;
  padding: 0.2rem 0.2rem;
}

i {
  font-size: 0.9rem;
  margin: 0rem;
}
