.t1 {
  width: 4%;
  min-height: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: block;
  text-align: center;
  border-right: 3px solid #444444;
  box-sizing: border-box;
}

.t1 b {
  text-align: center;
}

.t2 {
  width: 18%;
  min-height: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: block;
  text-align: center;
  border-right: 3px solid #444444;
  box-sizing: border-box;
}

.t2 b {
  text-align: center;
}

.t2 button {
  float: right;
  margin-right: 3%;
}

.t3 {
  width: 45%;
  min-height: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: block;
  text-align: center;
  border-right: 3px solid #444444;
  box-sizing: border-box;
}

.t3 b {
  text-align: center;
}

.t3 button {
  float: right;
  margin-right: 1%;
}

.t4 {
  width: 18%;
  min-height: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: block;
  text-align: center;
  border-right: 3px solid #444444;
  box-sizing: border-box;
}

.t4 b {
  text-align: center;
}

.t4 button {
  float: right;
  margin-right: 2%;
}

.t5 {
  width: 15%;
  min-height: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: block;
  text-align: center;
  box-sizing: border-box;
}

.t5 b {
  text-align: center;
}

.t5 button {
  float: right;
  margin-right: 3%;
}

.p-button.p-button-sm {
  font-size: 0.575rem;
  padding: 0.25rem 0.25rem;
}

i {
  font-size: 0.75rem;
  margin: 0rem;
}
