<div class="t1"><b>№</b></div>
<div class="t2"><b>Дата Начала</b>
  <button pButton pRipple type="button" class="p-button-secondary p-button-sm
          p-button-raised" title="Добавить новое задание" (click)="beginSort(1)">
    <i class="pi pi-sort-alt"></i></button>
</div>
<div class="t3"><b>Задача</b>
  <button pButton pRipple type="button" class="p-button-secondary p-button-sm
          p-button-raised" title="Добавить новое задание" (click)="beginSort(2)">
    <i class="pi pi-sort-alt"></i></button>
</div>
<div class="t4" *ngIf="currentPage==1"><b>Дедлайн</b><button pButton pRipple type="button" class="p-button-secondary p-button-sm
          p-button-raised" title="Добавить новое задание" (click)="beginSort(3)">
  <i class="pi pi-sort-alt"></i></button>
</div>
<div class="t4" *ngIf="currentPage==2"><b>Выполнено</b><button pButton pRipple type="button" class="p-button-secondary p-button-sm
          p-button-raised" title="Добавить новое задание" (click)="beginSort(4)">
  <i class="pi pi-sort-alt"></i></button>
</div>
<div class="t5"><b>Прочее</b><button pButton pRipple type="button" class="p-button-secondary p-button-sm
          p-button-raised" title="Добавить новое задание" (click)="beginSort(5)">
  <i class="pi pi-sort-alt"></i></button>
</div>
