@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

body,
body .p-component
{
  margin: 0;
  font-family: "Comfortaa", cursive;
}

p-datepicker {
  padding: 0.2rem;
  font-size: 5px;
}

p-datepicker table td > span {
  width: 1.5rem;
  height: 1.5rem;
}
